---
const { title, href, primary, secondary, small, large } = Astro.props;
---

<a
  href={href}
  class={`btn btn${secondary ? "-secondary" : ""} 
  btn-${small ? "small" : large ? "large" : "small"}`}
>
  {title}
</a>
