* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  position: relative;
}

html,
body {
  height: 100%;
}

body {
  /* max-width: 1920px; */
  margin: 0 auto;
  background-color: var(--theme-primary-bg) !important;
  position: relative;
}

pre {
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
}

pre .language-id {
  display: none;
}

.module {
  margin-top: 3rem;
  @media screen and (min-width: 768px) {
    margin-top: 4rem;
  }
}

.wrapper-link {
  position: absolute;
  height: 100%;
  inset: 0;
  width: 100%;
  z-index: 1;
}
