.home-hero .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.testimonial {
  display: flex;
  align-items: center;
}

.testimonial-person {
  width: 25%;
}

.testimonial-body {
  width: 75%;
}
