:root {
  /* Theme Colors */
  --theme-primary: hsl(0, 0%, 0%);
  --theme-primary-hover: hsl(0, 0%, 20%);
  --theme-on-primary: #fff;
  --theme-on-primary-hover: #c7c7c7;

  --theme-primary-bg: #0e0e0e;
  --theme-primary-on-bg: #fff;

  --theme-primary-surface-1: #f2f2f2;
  --theme-primary-on-surface-1: #000;

  --theme-primary-surface-2: #cce6d0;
  --theme-primary-on-surface-2: #000;

  /* Secondary Theme Colours */
  --theme-secondary: #fff;
  --theme-secondary-hover: hsl(0, 0%, 20%);
  --theme-on-secondary: hsl(0, 0%, 0%);

  --theme-secondary-bg: #fff;
  --theme-secondary-on-bg: #0e0e0e;

  --theme-secondary-surface-1: #000;
  --theme-secondary-on-surface-1: #f2f2f2;

  --theme-secondary-surface-2: #000;
  --theme-secondary-on-surface-2: #cce6d0;

  /* Theme Shapes */
  /* Set this to 0 if you want all of the rounded cards, images, etc to be straight edges */
  --theme-shape-radius: 0;
  --theme-button-border-radius: 3rem;

  /* Theme Transition */
  --theme-transition: 0.2s ease-in-out;

  /* Theme Layout */
  --section-margin: 3rem;
  --theme-grid-gap: 1rem;
  --container-max-width: 1440px;
  --container-max-width-narrow: 960px;
  --container-padding: 0 1rem;

  --theme-blog-post-header-width: 1200px;

  /* Theme Fonts */
  --theme-font-family-serif: "Sono", Georgia, Cambria, "Times New Roman", Times,
    serif;
  --theme-font-family-sans: "Lato", -apple-system, BlinkMacSystemFont,
    sans-serif;
}
