---
import Logo from "../components/Logo.astro";
import { Icon } from "astro-icon";
const { href, title, body } = Astro.props;
---

<nav>
  <Logo />

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">About</a></li>
    <li><a href="/">Blog</a></li>
    <li><a href="/">Contact</a></li>
  </ul>
  <div class="nav-icon">
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div>
  </div>
</nav>

<script>
  const navSlide = () => {
    const menuButton = document.querySelector(".nav-icon");
    const nav = document.querySelector("ul");
    const navLinks = document.querySelectorAll("li");

    menuButton.addEventListener("click", () => {
      nav.classList.toggle("nav-active");

      navLinks.forEach((link, index) => {
        if (link.style.animation) {
          link.style.animation = "";
        } else {
          link.style.animation = `navLinkFade 0.5s ease forwards ${
            index / 7 + 0.5
          }s`;
        }
      });
      // menu button animation
      menuButton.classList.toggle("toggle");
    });
  };
  navSlide();
</script>
