---
import Logo from "../components/Logo.astro";
import { Icon } from "astro-icon";

const { href, title, body } = Astro.props;
---

<nav>
  <div class="nav-container">
    <Logo />

    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Blog</li>
      <li>Contact</li>
    </ul>
    <Icon pack="mdi" name="menu" />
  </div>
</nav>

<style lang="scss">
  // use this method for nav
  // https://www.youtube.com/watch?v=gXkqy0b4M5g
  [astro-icon] {
    width: 36px;
    z-index: 100;
    display: inline-block;
    @media (min-width: 768px) {
      display: none;
    }
  }

  nav {
    background-color: var(--theme-on-bg);
    color: var(--theme-on-primary);
  }
  .nav-container {
    height: 60px;
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-end;
    padding: 2rem 1.25rem;
    width: 100%;
    background-color: var(--theme-on-bg);
    position: absolute;
    top: 40px;

    animation: normal 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: translateX(100%);

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 2rem;
      align-items: center;
      padding: 0;
      width: auto;

      position: relative;
      background-color: transparent;
      top: unset;
    }
  }

  .active {
    display: flex;
    animation: normal 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    transform: translateX(0%);
  }
</style>
<script>
  let menuIcon = document.querySelector("[astro-icon]");
  let menu = document.querySelector("ul");

  menuIcon.addEventListener("click", () => {
    menu.classList.toggle("active");
  });
</script>
