---
import Nav from "../components/Nav.astro";
import "../styles/index.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="" />
    <link rel="stylesheet" href="style.css" />
    <script src="../main.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"
    ></script>
    <title>Astro</title>
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>
