---
import Nav from "../components/Nav.astro";
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="" />

    <title>Astro</title>
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html,
  body {
    overflow-x: hidden;
    position: relative;
  }
</style>
